@font-face {
  font-family: Montserrat;
  src: url(@assets/style/fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url(@assets/style/fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url(@assets/style/fonts/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(@assets/style/fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}

